@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.cc-meal{
    font-family: "satisfy",cursive;
    font-weight: 600 !important;
    font-size: 22px !important;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-text{
    font-size:14px;
}